<!DOCTYPE html>
<html>
    <head th:include="../fragments/template :: head(~{::title})">
    	<title>Create page</title>
	</head>
	<body>
		<div th:replace="../fragments/template :: footer"></div>
		
		<form th:action="@{/create}" method="POST" accept-charset="UTF-8">
			<label> Name </label><br>
			<input type="text" name="testName"><br>
			<label> Description </label><br>
			<input type="text" name="testDescription"><br>
			<input type="submit" name="create" value="create">
		</form>
	</body>
</html>