<!DOCTYPE html>
<html>
	 <head th:include="../fragments/template :: head(~{::title})">
		<title>Tests list</title>
	</head>
	<body>
		<div class="center">
			<h1 class="display-1">Test2Test</h1>
			<h2 class="display-4">by TurboCheese</h2> 
		</div>
		<table th:each="testlist, stat: ${testlists}" th:id="${testlist.id}" th:object="${testlist}" class="table">
			<tr><th class="listname">[[*{name}]]</th><th></th>
				<th class="double-button">
					<button class="btn btn-success listbtn" onclick="addTest(this)" th:listid="*{id}"> + Add Test</button>
					<form th:action="@{/deletelist}" method="POST" accept-charset="UTF-8">
						<input type="hidden" name="id" id="hid_id" th:value="*{id}">
						<input type="submit" name="delete" value="&#10540; Delete" class="btn btn-danger listbtn">
					</form>
					<form th:action="@{/execute}" method="POST" accept-charset="UTF-8">
						<input type="hidden" name="id" id="hid_id" th:value="*{id}">
						<input type="submit" name="execute" value="&#11208; Execute" class="btn btn-primary listbtn">
					</form>
				</th>
			</tr>
			<tr th:each="test:*{tests}">
				<th class="testname">[[${test.name}]]</th>
				<td>[[${test.description}]]</td>
				<td class="delete">
					<form th:action="@{/delete}" method="POST" accept-charset="UTF-8">
						<input type="hidden" name="listId" th:value="*{id}">
						<input type="hidden" name="id" th:value="${test.id}">
						<input type="submit" name="delete" value="&#10540; Delete" class="btn btn-danger delete-test">
					</form>
				</td>
			</tr>
		</table>
		<div class="center bottom-button"><button class="btn btn-success" onclick="addTestList()"> + Add Test List</button><a th:href="@{/reportlist}"><button class="btn btn-primary">Reports &raquo</button></a></div>
		<div id="addtestlist" class="inactive">
			<form th:action="@{/createlist}" method="POST" accept-charset="UTF-8" name="addtestForm">
				<input type="text" name="listName" class="form-control" placeholder="List Name">
				<div>
					<input type="button" class="btn btn-danger" onclick="cancelAdd()" value="Cancel">
					<input type="submit" name="addTest" value="Add Test List" class="btn btn-success">
				</div>
			</form>
		</div>
		<div id="addtest" class="inactive">
			<form th:action="@{/addtest}" method="POST" accept-charset="UTF-8" name="addTestForm">
				<input type="hidden" name="listId" id="addtestlistid" value="0">
				<input type="text" name="testName" class="form-control" placeholder="Test Name">
				<textarea name="testDescription" class="form-control" placeholder="Test Descrption"></textarea>
				<div>
					<input type="button" class="btn btn-danger" onclick="cancelAdd()" value="Cancel">
					<input type="submit" name="addTest" value="Add Test" class="btn btn-success">
				</div>
			</form>
		</div>
		<div th:replace="../fragments/template :: footer"></div>
		
	</body>
</html>