<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset UTF-8">
		<title>Tests list</title>
	</head>
	<body>
		<ul id="tests">
			<li th:each="test: ${tests}"
				th:id="${'test_' + test.id }">Name : [[${test.name}]]<br>Description : [[${test.description}]]
				<form th:action="@{/delete}" method="POST" accept-charset="UTF-8">
					<input type="hidden" name="id" id="hid_id" th:value="${test.id}">
					<input type="submit" name="delete" value="delete">
				</form>
			</li>
		</ul>
		<form th:action="@{/execute}" method="POST" accept-charset="UTF-8">
			<input type="hidden" name="id" value="start">
			<input type="submit" name="execute" value="execute">
		</form>
	</body>
</html>